*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(217, 222, 223);
    margin: 0px;
}
.main_heading{
    text-align: center;
    font-size: 3em;
}
.section1 , .section2 , .section3{
    border: 2px solid black;
    margin: 10px;
    box-sizing: border-box;
    background-color: #cfcdcdf3;
}
.heading{
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    float: right;
    width: 40%;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.4em;
    text-overflow: auto;
}
.text{
    margin: 10px;
    clear: right;
}
.Chicken{
    background-color: rgb(125, 205, 219);
}
.Beef{
    background-color: rgb(245, 138, 138);
}
.Sushi{
    background-color: rgb(221, 247, 149);
}
@media (min-width: 992px){
    .section1{
        width: 30%;
        float: left;
        margin: 0% 2.5% 0% 2.5%;
    }
    .section2 , .section3{
        width: 30%;
        float: left;
        margin: 0% 2.5% 0% 0%;
    }
    .main_heading{
        font-size: 2em;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .section1{
        width: 45.5%;
        float: left;
        margin: 0% 3% 0% 3%;
    }
    .section2{
        width: 45.5%;
        float: left;
        margin: 0% 3% 0% 0%;
    }
    .section3{
        width: 94%;
        float: left;
        margin: 3%;
    }
    .Sushi{
        width: 19.361%;
    }
    .main_heading{
        font-size: 2.5em;
    }
}
@media (max-width: 767px){
    .section1 , .section2 , .section3{
        width: 84%;
        margin: 15px 8% 15px 8%;
    }
    
}